.filter {
  background-color: #f8f9fa;
  padding: 20px;
  padding-top:20px;
  float: left;

}

h3{
  padding-left: 42px;
}


.items {
gap:3em;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 2px; */
 display: flex;
  padding: 5px;
  border: 1px solid #ddd;
  /* float: left; */
  margin-left:5px;
  border-radius: 10px;
}
.item img {
  width: 230px;
  height: 280px;
  object-fit: cover;
  margin-right: 1px;
  border-radius: 10px;
  /* float: left; */}

  #itembox {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 7px;
    width: auto;

    
    
  }
  .item-name {
    font-weight: bold;
    margin-bottom: 5px;
    flex-wrap: wrap;
    font-size: 13px;
    
    
  }
  .item-price {
    color: #007bff;
    margin-bottom: 5px;
  }
  .item-rating {
    color: gold;
    margin-bottom: 5px;
  }
  /* .productDiv{
    margin-left: 330px;
    padding-top: 25px;
  } */