.filter {
    background-color: #f8f9fa;
    padding: 20px;
    padding-top:20px;
    float: left;
  
  }
 
  h3{
    padding-left: 42px;
  }
  
  .items {
    padding: px;
  }
   .item {
    
    align-items: center;
    margin-bottom: 20px;
    padding: 1px;
    border: 1px solid #ddd;
    float: left;
    margin-left:2%;
    border-radius: 10px;
  }
  .item img {
    width: 220px;
    height: 280px;
    object-fit: cover;
    margin-right: 1px;
    border-radius: 10px;
    float: left;
    
  }
  .item-info {
    flex-grow: 1;
  }
  .item-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .item-price {
    color: #007bff;
    margin-bottom: 5px;
  }
  .item-rating {
    color: gold;
    margin-bottom: 5px;
  }
  
  .col-md-3.filter {
    position: fixed;
    top: 90px;
    z-index: 9;
    width: 320px;
    bottom: 0;
    padding-left: 75px;
  }
  .col-md-3 filter p{
    padding-left: 25px;
    
  }
  .col-md-9 {
    margin-left: 120%;
    margin-top: 3%;
    display: grid;
    
     
  }
  .productDiv{
    margin-left: 330px;
    padding-top: 25px;
  }