.small-img-group {
    display: flex;
    justify-content: space-between;

}

.img-fluid {
    border: 1px solid black;
    margin: .8px;
    border-radius: 10px;
}

.small-img {
    border: 1px solid black;
    margin: .8px;
    border-radius: 10px;
}
.col-7 h6,h2{
    margin-left: 41px;
    color: rgb(63, 63, 72);
}
.col-7 ul{
    margin-left: 41px;
   
}
.my-3{
   margin-left: 49px; 
   color: antiquewhite;
   background-color: black; 

}
.buy-btn {
    width: 397px;
    margin-left: 25px;
    height: 44px;
    border-radius: 19px;
    background-color: rgb(238, 92, 19);
    color: white;
    margin-bottom: 20px;
}
.inputbox{
    width: 40px;
	
	

}