.subcontainer{
    max-width: 12000px;
    border: solid black;
    padding-left: 40px;
    padding-right: 45px;
}


/* ---------product item---------------- */


.title{
    text-align: center;
    margin: 43px auto 50px;
    position: relative;
    line-height: 10px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 200px;
    height: 5px;
    border-radius: 55px;
    position: absolute;
    bottom: -17px;
    left: 43%;
    transtranform: translateX(-50%);
}

.container{
    margin-top: 3%;
}

h4{
    color: #131010;
    font-weight: normal;
    margin-left: 25px;
}
.col-3{
    border: 1px solid black;
    border-radius: 12px;
    max-width: 24%;
    margin-left: 1%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 10px;
}

.rating .fa{
    color: #ff523b;
    
}
.col-3 .fa{
    color: #ff523b;

}
.rating{
    margin-left: 25px;
}
p{
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.small-container img.img-fluid {
    width: 100%;
    border-radius: 10.5px;
}